@model Project1Git.Models.Mission
@{
    ViewBag.Title = "Missions";
}

<h2 style="text-align: center;">Missions</h2>
<ul class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>
        Mission Selection
    </li>
</ul>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.DropDownListFor(model => model.missionName, new SelectList(ViewBag.Mission, "missionName", "missionName"))


    <input type="submit" value="Submit" />
}
