
@{
    ViewBag.Title = "About";
}

<h1 class="center" style="font-size:50px">About</h1>
<h5 class="center"><i>"After all that has been said, the greatest and most important duty is to preach the gospel." <br />- </i>Joseph Smith</h5>
<ul class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>
        About
    </li>
</ul>
<!--
The About view should display “made up” information about the company that wants to help future missionaries
    get questions about their missions answered by those that have been to the mission.
-->
<div class="jumbotron">
    <div class="row">
        <div class="col-lg-5 center">
            <h2>
                <u>What do we do?</u>
            </h2>
            <p style="justify-content">
                We bring returned missionaries <br />and future missionaries together <br />
                to further the work of salvation. <br />

            </p>
            <img src="~/Content/Images/missionaryTeaching.jpg" style="height:250px; width:350px" />
        </div>
        <div class="col-lg-2">

        </div>
        <div class="col-lg-5 center">
            <h2>
                <u>How does it work?</u>
            </h2>
            <p>
                Future missionaries can ask<br /> questions about being a missionary <br />
                to returned missionaries.
            </p>

            <img src="~/Content/Images/missionaryEmail.jpg" style="height:250px; width:350px"/>
        </div>
    </div>
</div>
<br />


