
@{
    ViewBag.Title = "About";
}

<h2 class="center">About</h2>

<!--

The About view should display “made up” information about the company that wants to help future missionaries
    get questions about their missions answered by those that have been to the mission.
-->
<div class="jumbotron">
    <div class="row">
        <div class="col-lg-5 center">
            <h3>
                What we do
            </h3>
            <p>
                We bring returned missionaries and future missionaries together <br />
                to further the work of salvation. <br />

            </p>
        </div>
        <div class="col-lg-2">

        </div>
        <div class="col-lg-5 center">
            <h3>
                How it works
            </h3>
            <p>
                Future missionaries can ask questions about their missions <br />
                and returned missionaries will answer.
            </p>
        </div>
    </div>
</div>