
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<div class="jumbotron" style="text-align:center;">
    <input type="button" value="Click to Ask a Question!" class="btn btn-lg btn-default"/>
</div>
<div class="row">
    <div class="col-5">
        <p>Content condutive to missionary work!(quotes, videos, etc. – be creative)</p>
    </div>
</div>

