
@{
    ViewBag.Title = "Missions";
}

<h2>Missions</h2>

<select>
    <option value="Select Mission:">Select Mission:</option>
    <option value="California Long Beach">California Long Beach</option>
    <option value="Calgary Canada">Calgary Canada</option>
    <option value="Lyon France">Lyon France</option>
</select>