@model IEnumerable<Project1Git.Models.Mission>

<h2>Select Mission to Ask Question</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.missionName)
        </th>
        <th>
            Ask Question
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.missionName)
        </td>
        <td>
            <button href=@Url.Action("AskQuestion", "Home", new { id = item.missionID }) class="btn btn-default">Click to Ask!</button>
        </td>
    </tr>
        
    }

</table>


<p>
    Dont't see your mission?
    <button href=@Url.Action("NewMission", "Home") class="btn btn-default">Add Mission</button>
</p>


